.container {
  max-width: 500px;
  padding: 50px 0;
}

.sensor-button {
  width: 4rem;
  height: 4rem;
  color: white;
  font-weight: bold;
}

.btn-big {
  width: 7rem;
  height: 7rem;
}

.nav-menu {
  button {
    width: 50%;
  }
}
